@using MagazaUrunTakipSistemi.Models.Entity
@model TBL_MUSTERI
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form action="NewCustomer" method="post" class="form-group mt-4">

    <label>Customer Name : </label>
    <input type="text" name="musteriadi" value="" placeholder="Customer Name.." class="mt-1 form-control" style="margin-bottom:12px" />

    <div>
        @Html.ValidationMessageFor(x => x.musteriadi, "" , new { @style = "color:red" })
    </div>
    @*//buradaki "" buraya gelecek olan validation mesaj parametresi*@
    <label>Customer Surname : </label>
    <input type="text" name="musterisoyadi" value="" placeholder="Customer Surname.." class="mt-1 form-control" style="margin-bottom:12px" />
    <div>
        @Html.ValidationMessageFor(x => x.musterisoyadi,"", new { @style = "color:red" })
    </div>
    <label>Customer City : </label>
    <input type="text" name="musterisehri" value="" placeholder="Customer Name.." class="mt-1 form-control" style="margin-bottom:12px" />

    <label>Customer Wallet : </label>
    <input type="text" name="musteribakiye" value="" placeholder="Customer Wallet.." class="mt-1 form-control" style="margin-bottom:12px" />

    <div>
        <button class="mt-5 btn btn-success" style="margin-top:24px">ADD NEW CUSTOMER</button>
    </div>

</form>

