@{
    ViewBag.Title = "Home Page";
}

<main>
    <h4>ASP.NET MVC5 MAĞAZA STOK YÖNETİMİ PROJESİ</h4>
    <p>Merhaba, bu projede asp.net mvc5 ile basit mağaza stok yönetimi yaptım. Proejde dbfirst yaklaşımı kullanılmıştır.</p>

</main>